* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: lightsteelblue;
	margin: 0;
	box-sizing: border-box;
}

#navBar {
	display: flex;
	justify-content: center;
}

#navsec {
	padding: 2px;
	width: 70%;
	/* Consider adjusting the width based on your design */
}

#navBar li {
	list-style: none;
}

li {
	display: flex;
	flex-direction: row;
	padding: 1%;
}

#navBar li a {
	text-decoration: none;
}

#navBar ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bookmarks {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.bookmarks ul {
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

.bookmarks li {
	display: flex;
	flex-direction: column;
	/* Updated to display items vertically on smaller screens */
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100%;
	/* Adjusted to take full width on smaller screens */
}

.bookmarks li span {
	/* Updated to take up 50% of the width */
	width: 50%;
	text-align: center;
	/* Optional: Center the text within the span */
	/* Additional styles as needed */
}

#delbtn {
	display: inline-block;
	padding: 8px 12px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #e74c3c;
	/* Red border color */
	color: #e74c3c;
	/* Red text color */
	background-color: #fff;
	/* White background color */
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
	margin-bottom: 2%;
	width: 100%;
	/* Adjusted to take full width on smaller screens */
}

#delbtn:hover {
	background-color: #e74c3c;
	/* Red background color on hover */
	color: #fff;
	/* White text color on hover */
}